<!DOCTYPE html>
{% load staticfiles %}
{% load sequencelistings_extras %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>st26proto - {% block title %}seql{% endblock %}</title>
<!-- TODO: check whether w3.css is still needed??? -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'sequencelistings/output/resources/style_colour.css' %}" />
    <script src="{% static 'sequencelistings/output/resources/splitLines.js' %}"></script>
  </head>

  <body>
    <header>
        <h1>ST.26 SEQUENCE LISTING AUTHORING TOOL PROTOTYPE</h1>
    </header>

    <br>
    <!-- top navigation bar -->
    <div class='topnav' id='baseTopnav'>
        <a href="{% url 'sequencelistings:index' %}">Home</a>
        <a href="{% url 'sequencelistings:overview' %}">Sequence listings</a>
        <a href="{% url 'sequencelistings:about' %}">About</a>
        {% if user.is_authenticated %}
            <!-- <a href="{% url 'sequencelistings:restricted' %}">Restricted Page</a> -->
            <a href="{% url 'auth_logout' %}?next=/sequencelistings/">Logout</a>      
        {% else %}
            <a href="{% url 'registration_register' %}">Register Here</a>
            <a href="{% url 'auth_login' %}">Login</a>
        {% endif %}
        
    </div>
            
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           <div>
                <div class="page-header">
                    {% block header_block %}{% endblock %}
                </div>
                
                {% block body_block %}{% endblock %}
                
                <br><br><br>
                
                <hr>
                <footer><p>&copy; 2017, adrian stoica</p></footer>
                
            </div>
        </div>
      </div>
    </div> 
  </body>
</html>
