<!DOCTYPE html>

{% extends 'sequencelistings/base.html' %}
{% load my_filters %}

{%block header_block %}
    <h2><strong>DELETE</strong>SEQ.ID.NO. {{seq.sequenceIdNo}}?????</h2>
{% endblock %}

{% block body_block %}
<p><a href="{% url 'sequencelistings:index' %}">Home &gt;&gt;</a>
<a href="{% url 'sequencelistings:detail' seq.sequenceListing.pk %}">{{seq.sequenceListing}} &gt;&gt;</a>
</p>

<hr>

<form action="" method="post">
    {% csrf_token %}
    <p>
        <input type="submit" value="Delete" />
    </p>
</form>
{% endblock %}