<!DOCTYPE html>
{% extends 'sequencelistings/base.html' %}
{% load staticfiles %}

{%block header_block %}
    <h1>SEQUENCE LISTING {{ sequencelisting.fileName }}</h1>
{% endblock %}

{% block body_block %}
    <!-- top nav bar -->
    <div class='topnav' id='seqlTopnav'>
        <a class='active' href="{% url 'sequencelistings:detail' sequencelisting.pk %}">Preview</a>
        <!-- if the user is logged in show link for editing sequence data  -->
        <!-- {% if user.is_authenticated %}
            {% if sequencelisting.isEditable or user.is_staff  %}
                <a href="{% url 'sequencelistings:edit_seql' sequencelisting.pk %}">Edit</a>
            {% endif %}
        {% endif %} -->
        
        {% if sequencelisting.isEditable or user.is_staff  %}
            <a href="{% url 'sequencelistings:edit_seql' sequencelisting.pk %}">Edit</a>
        {% endif %}
        <a href="{% url 'sequencelistings:xmloutput' sequencelisting.pk %}">Generate XML</a>
    </div>
    
    <!-- file information - from XML root attributes =============================== -->
    <h2>FILE INFORMATION</h2>
    <button onclick="seqlToggle('fileInformationTable')" class="toggleButton">
            (click to expand/collapse)
    </button>
    <div id="fileInformationTable" class="w3-accordion-content">
        <table class="genTable">
            <tr>
                <th>File name</th><td>{{sequencelisting.fileName}}</td>
            </tr>
            <tr>
                <th>DTD version</th><td>{{sequencelisting.dtdVersion}}</td>
            </tr>
            <tr>
                <th>Software name</th><td>{{sequencelisting.softwareName}}</td>
            </tr>
            <tr>
                <th>Software version</th><td>{{sequencelisting.softwareVersion}}</td>
            </tr>
            <tr>
                <th>Production date</th><td>{{sequencelisting.getFormattedProductionDate}}</td>
            </tr>
        </table>
    </div>
    <hr />
    
    <h2>GENERAL INFORMATION</h2>
    <!-- GENERAL INFORMATION accordion =============================== -->
    <div class="w3-accordion">
        <button onclick="seqlToggle('genInfo')" class="toggleButton">
            (click to expand/collapse)
        </button>
        
        <div id="genInfo" class="w3-accordion-content">    
            <table class="genTable">
                <tr>
                    <th>IP office code</th><td>{{sequencelisting.IPOfficeCode}}</td>
                </tr>
                <tr>
                    <th>Application number text</th><td>{{sequencelisting.applicationNumberText}}</td>
                </tr>
                <tr>
                    <th>Filing date</th>
                    <td>
                        {% if sequencelisting.filingDate %}
                            {{sequencelisting.getFormattedFilingDate}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Applicant file reference</th><td>{{sequencelisting.applicantFileReference}}</td>
                </tr>
                <tr>
                    <th>Earliest priority IP office code</th><td>{{sequencelisting.earliestPriorityIPOfficeCode}}</td>
                </tr>
                <tr>
                    <th>Earliest priority application number text</th><td>{{sequencelisting.earliestPriorityApplicationNumberText}}</td>
                </tr>
                <tr>
                    <th>Earliest priority filing date</th>
                    <td>
                        {% if sequencelisting.earliestPriorityFilingDate %}
                            {{sequencelisting.getFormattedEarliestPriorityFilingDate}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Applicant name</th><td>{{sequencelisting.applicantName}}</td>
                </tr>
                <tr>
                    <th>Applicant name langugage code</th><td>{{sequencelisting.applicantNameLanguageCode}}</td>
                </tr>
                <tr>
                    <th>Applicant name latin</th><td>{{sequencelisting.applicantNameLatin}}</td>
                </tr>
                <tr>
                    <th>Inventor name</th><td>{{sequencelisting.inventorName}}</td>
                </tr>
                <tr>
                    <th>Inventor name language code</th><td>{{sequencelisting.inventorNameLanguageCode}}</td>
                </tr>
                <tr>
                    <th>Inventor name latin</th><td>{{sequencelisting.inventorNameLatin}}</td>
                </tr>
                {% for t in sequencelisting.title_set.all %}
                    <tr>
                        <th>Invention title</th><td>{{t.inventionTitle}}</td>
                    </tr>
                    <tr>
                        <th>Invention title language code</th><td>{{t.inventionTitleLanguageCode}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>Sequence total quantity</th><td>{{sequencelisting.sequenceTotalQuantity}}</td>
                </tr>
            </table>
            
        </div>
    </div>
    <!-- END GENERAL INFORMATION accordion ========================== -->
    <hr />
    
    <!-- SEQUENCES ==================================================-->
    <h2>SEQUENCE DATA</h2> 
    {% for seq in sequencelisting.sequence_set.all %}
        <table class="genTable">
            <tr>
                <th>SEQ ID NO:</th>
                <td>{{ seq.sequenceIdNo }}</td>
                <th>type</th>
                <td>{{ seq.moltype }}</td>
                <th>length</th>
                <td>{{ seq.length }}</td>
                <th>source</th>
                <td>{{ seq.getOrganism }}</td>
            </tr>
        </table>
        
        <!-- FEATURE TABLE -->
        <h4>FEATURES    Location/Qualifiers</h4> 
        {% if seq.feature_set.all %}
            {% for f in seq.getOrderedFeatures %}
                <div class="feature">
                    <b>{{f.featureKey}}</b> {{f.location}}<br />
                    {% if f.qualifier_set.all %}
                            {% for q in f.qualifier_set.all %}
                                <div class='qualifier'>
                                /{{q.qualifierName}}={{q.qualifierValue}}<br />
                                </div>
                            {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
        no features
        {% endif %}
        <!-- END FEATURE TABLE -->
        
        <!-- RESIDUES -->
        <h4 id="sequenceHeading">SEQUENCE:</h4>
        <div class="residues">
            <script>writeSplitString('{{ seq.residues }}');</script>
        </div>
        <br />
        <!-- END RESIDUES -->
    {% endfor %}
    <!-- END SEQUENCES ==================================================-->

{% endblock %}
