<!DOCTYPE html>
{% extends 'sequencelistings/base.html' %}

{% block title%}Index{% endblock %}

{%block header_block %}
    <h2 id='welcomeHeader'>WELCOME 
        {% if user.is_authenticated %}
            {{user.username}}!
        {% endif %}
    </h2>
{% endblock %}

{% block body_block %}

    <p>This website is a proof of concept on how to generate a sequence listing in XML format.
    It is a prototype (so limited functionality!) built only for information and demonstration purposes. 
    </p>
    
    <p>The prototype enables the user to:</p>
    <ol>
        <li>Create a sequence listing by filling in a number of forms, i.e. 
            <ul>
                <li>general information form</li>
                <li>sequence data forms (create sequence, feature, qualifier)</li>
                <li class='newItem'>NEW: import sequence from file in one of the formats: raw, FASTA, (more to come)</li>
            </ul>
        </li>
        <li>Observe the constraints imposed by controlled vocabularies and alphabets</li>
        <li>Store and display previously created sequence listings</li>
        <li>Generate the sequence listing as XML file</li>
        <li>Display in the browser the generated XML file</li>
        <li>Download to the local disc the generated XML file</li>        
    </ol>
    
    <hr />
    <h4>Disclaimer</h4>
    <p>This website has been built <strong>only for information purposes</strong>.</p>
    <p>No rights can be derived from visiting, registering and/or exploring the functionality of this website.</p>
    <p>More on <a href="{% url 'sequencelistings:about' %}">About</a> page</p>
{% endblock %}