body {
    font-size: 16px;
}

a {
    color: blue;
}

#sequenceHeading {
    background: #42f459;
}

/* ===================TABLE STYLE ==============================*/
table{
    font-size: 20px;
    border: 2px solid black;
    /* border-spacing: 0 10px; */
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 0 10px;
    /* border-collapse: separate; */
}

th, td {
    padding: 10px 10px 0px 10px;
}

th{
    background-color: #B8DBF2;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2}

#footer {
   position:absolute;
   bottom:0;
   height:30px;
   background:#D9DDDE;
}

.residues {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    /* text-indent: 50px; */
}

.indented {
    text-indent: 50px;
}

.qualifier {
    text-indent: 100px;
}