body {
    font-size: 20px;
}

a {
    color: blue;
}

/* ===================TABLE STYLE ==============================*/
.genTable{
    text-align: left;
    border-collapse: collapse;
}

.genTable th, .genTable td {
    border: 1px solid black;
    padding: 10px 10px 0px 10px;
}

.genTable th{
    background-color: #B8DBF2;
}

.genTable tr:nth-child(even) {background-color: #f2f2f2}


/* =================================================*/

.feature {
    text-indent: 50px;
}

.qualifier {
    text-indent: 100px;
}

.residues {
    font-family: "Courier New", Courier, monospace;
}

